<!DOCTYPE html>
<html>
<head><title>Panel Admin</title></head>
<body>
<h2>Panel de Administración</h2>
<ul>
  <li><a href="{{ url_for('nuevo_cliente') }}">Nuevo Cliente</a></li>
  <li><a href="{{ url_for('lista_clientes') }}">Lista de Clientes</a></li>
  <li><a href="{{ url_for('lista_reservas') }}">Lista de Reservas</a></li>
  <li><a href="{{ url_for('logout') }}">Cerrar sesión</a></li>
  <li><a href="{{ url_for('lista_habitaciones') }}">Lista de Habitaciones</a></li>
  <li><a href="{{ url_for('cambiar_estado_habitaciones') }}">Cambiar Estado de Habitaciones</a></li>

</ul>
</body>
</html>
