<h2>Habitaciones</h2>
<table border="1">
  <tr>
    <th>Número</th><th>Tipo</th><th>Precio por noche</th><th>Estado</th><th>Disponibilidad</th><th>Acción</th>
  </tr>
  {% for hab in habitaciones %}
  <tr>
    <td>{{ hab.numero_habitacion }}</td>
    <td>{{ hab.tipo }}</td>
    <td>
      <form action="{{ url_for('modificar_precio') }}" method="post">
        <input type="hidden" name="id_habitacion" value="{{ hab.id }}">
        <input type="number" name="precio_por_noche" value="{{ hab.precio_por_noche }}" step="0.01">
    </td>
    <td>{{ hab.estado }}</td>
    <td>
        {% if hab.estado == 'ocupada' and hab.fecha_salida_ultima %}
            Ocupada hasta {{ hab.fecha_salida_ultima }}
        {% elif hab.estado == 'disponible' and hab.fecha_entrada_proxima %}
            Disponible hasta {{ hab.fecha_entrada_proxima }}
        {% else %}
            Disponible
        {% endif %}
    </td>
    <td>
        <button type="submit">Actualizar</button>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
<a href="{{ url_for('admin_panel') }}">Volver al Panel</a>
