body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Personalizar botones */
.btn-primary {
  background-color: #0056b3;
  border: none;
}

.btn-success {
  background-color: #198754;
  border: none;
}

.card {
  max-width: 500px;
  margin: auto;
}
